<span defaultOverlayTarget>
<div class="container-fluid" [@cardicons]>

  <div class="row">

    <div class="pull-right">
      <div class="col-lg-10">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="model.to" #to="ngModel" placeholder="User to add">
      <span class="input-group-btn">
        <button class="btn btn-secondary" (click)="SendMail()" type="button">Send!</button>
      </span>
        </div>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="searchText"  placeholder="search by email">
      <span class="input-group-btn">
        <button class="btn btn-secondary"  type="button">Search!</button>
      </span>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Role</th>

      </tr>
      </thead>
      <tbody>
      <tr   *ngFor="let user of users| userpipe: searchText| paginate: { itemsPerPage: 10, currentPage: p }">
        <td   (click)="Change()">{{user.first_name}}</td>
        <td (click)="Change()">{{user.last_name}}</td>
        <td (click)="Change()">{{user.email}}</td>
        <td (click)="Change()">{{user.role}}</td>

        <td class="td-actions text-right">
          <button type="button" (click)="onClickUpdate(user)" rel="tooltip" title="Edit Task"  class="btn btn-info btn-simple btn-xs">
            <i class="fa fa-edit"></i>
          </button>
          <button type="button" rel="tooltip" title="Remove"  (click)="deleteUser(user)" class="btn btn-danger btn-simple btn-xs">
            <i class="fa fa-times"></i>
          </button>
        </td>

      </tr>
      </tbody>
    </table>
    <p align="right"> <pagination-controls (pageChange)="p = $event"></pagination-controls></p>

  </div>
<!--  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <h4 class="title">202 Awesome Stroke Icons</h4>
          <p class="category">Handcrafted by our friends from <a target="_blank" href="http://themes-pixeden.com/font-demos/7-stroke/index.html">Pixeden</a></p>
        </div>
        <div class="content all-icons">
          <div class="row">

            <div *ngFor="let iconClass of iconClasses" class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-detail"><i [ngClass]="iconClass"></i>
                <input type="text" value="{{ iconClass }}">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>-->
</div>
</span>
