<span defaultOverlayTarget>
<div class="row">
  <button type="button"  (click)="onClickAdd()" class="btn btn-info">Ajouter un compte bancaire</button>
  <div class="pull-right">
  <div class="col-lg-10">
    <div class="input-group">
      <input type="text" [(ngModel)]="searchText"
             class="form-control" placeholder="Search By Name" />
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Go!</button>
      </span>
    </div>
  </div>
</div>
</div>
<br>
  <div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th>Compte Bancaire</th>
        <th>Swift</th>
        <th>IBAN</th>
        <th>Banque</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let banque of banques| banquepipe: searchText|paginate: { itemsPerPage: 5, currentPage: p }">
        <td>{{banque.name}}</td>
        <td>{{banque.swift}}</td>
        <td>{{banque.IBAN}}</td>
        <td>{{banque.Banque}}</td>

        <td class="td-actions text-right">
          <button type="button" (click)="onClickUpdate(banque)" rel="tooltip" title="Edit Task"  class="btn btn-info btn-simple btn-xs">
            <i class="fa fa-edit"></i>
          </button>
          <button type="button" rel="tooltip" title="Remove"  (click)="deleteBanque(banque)" class="btn btn-danger btn-simple btn-xs">
            <i class="fa fa-times"></i>
          </button>
        </td>

      </tr>
      </tbody>
    </table>
      <p align="right"> <pagination-controls (pageChange)="p = $event"></pagination-controls></p>

  </div>


</span>
