

<div class="container-fluid">


  <div class="demo">
    <h2 class="primary">{{title}}</h2>
    <div class="mother">
      <div class="achild" style="background-color: #2ecc71">Users<br><br>{{users}}</div>
      <div class="achild" style="background-color: #3498db">Transactions<br><br>{{transactions}}</div>
      <div class="achild" style="background-color: #f1c40f">Banques <br><br>{{banques}}</div>
      <div class="achild" style="background-color: #e74c3c">Budgets<br><br>{{budgets}}</div>
    </div>
  </div>


</div>
