

<div class="container-fluid">


  <div class="demo">
    <h2 class="primary">{{title}}</h2>
    <div class="mother">
      <div class="achild" style="background-color: #4fceb7">Users<br>{{users}}</div>
      <div class="achild" style="background-color: #48ce8a">Transactions<br>{{transactions}}</div>
      <div class="achild" style="background-color: #c6ce25">Banques <br>{{banques}}</div>
      <div class="achild" style="background-color: #d58a3b">Budgets<br>{{budgets}}</div>
    </div>
  </div>


</div>
