<span defaultOverlayTarget xmlns:color="http://www.w3.org/1999/xhtml">
           <div align="right">
             <button type="button"(click)="onClickUpload()" class="btn btn-info">Importer</button></div>
  <div class="row" >
     <div class="col-lg-4">
    <div class="input-group">
      <input type="text" [(ngModel)]="searchText"
             class="form-control" placeholder="Search By Libelle" />
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Go!</button>
      </span>
    </div>
     </div>

  <div class="col-md-12" [@cardtable1]>
    <div class="content table-responsive table-full-width">
  <table class="table table-hover table-striped">
    <thead>
    <tr>
      <th>Date</th>
      <th>Libelle</th>
      <th>Montant</th>
      <th>Budget</th>
      <th>Sous Budget</th>
     </tr>
    </thead>
    <tbody>
    <tr *ngFor="let transaction of transactions| transactionpipe: searchText| paginate: { itemsPerPage: 8, currentPage: p }"
    >
      <td>{{transaction.Date}}</td>
      <td>{{transaction.Libelle}}</td>
      <td ng-class='{red :transaction.color, black: transaction.Montant[0]=="+"}'>{{transaction.Montant}}</td>
      <td *ngIf="transaction.budget[0]">{{transaction.budget[0]["name"]}}</td>
      <td >{{transaction.sousBudget}}</td>

      <td class="td-actions text-right">
        <button type="button"  rel="tooltip" title="Edit Task" (click)="onClickEdit(transaction)"  class="btn btn-info btn-simple btn-xs">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" rel="tooltip" title="Remove" (click)="deleteTransaction(transaction)"class="btn btn-danger btn-simple btn-xs">
          <i class="fa fa-times"></i>
        </button>
      </td>

    </tr>
    </tbody>
  </table>
      <p align="right"> <pagination-controls (pageChange)="p = $event"></pagination-controls></p>

    </div>
  </div>


</div>


</span>
