<div class="container-fluid">
  <div class="card" [@cardnotifications]>
    <div class="header">
      <h4 class="title">Document Comptable</h4>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-6">
          <h5>Notifications Style</h5>
          <div class="form-group">
          <ng-daterangepicker [(ngModel)]="value" [options]="options"></ng-daterangepicker>
          <button type="button"(click)="getExerciceComptable(value)" class="btn btn-info">Go</button>
          </div>
        </div>

        <table class="table table-hover table-striped">
          <thead>
          <tr>
            <th>Depenses</th>
            <th>Recettes</th>
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let depense of depenses; let k = index">
          <td
          >
            {{depense[" "]}}
          </td>
            <td *ngIf="recettes[k]">
              {{recettes[k][" "]}}
            </td>
          </tr>
          </tbody>
        </table>


  </div>
</div>
    </div>
  </div>
